* {
    font-family: 'Itim', cursive;
    padding: 0;
    margin: 0;
    cursor: url('./img/foo655.cur'), auto;
}

body {
    --c1: rgb(104 64 39);
    --c2: rgb(236 211 191);
    --c3: rgb(211 160 117);
    --c4: rgb(66 48 39);
    --c5: rgb(206 195 181);
    --c6: rgb(68 50 40);
    --r_bg_content: rgb(135, 114, 95);
    --l_bg_content: #1D1E22;
    --fc: #1D1E22;
}

/* ---- Home ---- */

.home {
    min-height: 100vh;
    width: 100%;
    background-color: var(--c1);
    position: relative;
    overflow: hidden;
}

.text-box {
    width: 10%;
    color: var(--c2);
    position: absolute;
    top: 47%;
    left: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.text-box h1 {
    font-size: 800%;
}


/* ---- Component ---- */

.component1 {
    position: absolute;
    padding: 15% 10%;
    width: 10%;
    border-radius: 50%;
    left: -12%;
    top: 60%;
    background-color: var(--fc);
}

.component2 {
    position: absolute;
    padding: 7% 2%;
    width: 10%;
    border-radius: 50%;
    left: 13%;
    top: 85%;
    background-color: var(--fc);
}

.component3 {
    position: absolute;
    width: 12%;
    top: 87%;
    left: 13%;
    animation: bear 10s infinite linear;
}

@keyframes bear {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(900%);
    }
}

.component4 {
    position: absolute;
    padding: 15% 10%;
    width: 10%;
    border-radius: 50%;
    left: 80%;
    top: -30%;
    background-color: var(--fc);
}

.component5 {
    position: absolute;
    padding: 7% 2%;
    width: 10%;
    border-radius: 50%;
    left: 93%;
    top: 85%;
    background-color: var(--fc);
}

.component6 {
    position: absolute;
    padding: 6% 1%;
    width: 10%;
    border-radius: 50%;
    left: 5%;
    top: 5%;
    background-color: var(--fc);
}

.component7 {
    position: absolute;
    padding: 15% 10%;
    width: 10%;
    border-radius: 50%;
    left: 80%;
    bottom: -30vh;
    background-color: var(--fc);
}

.component8 {
    position: absolute;
    padding: 7% 2%;
    width: 10%;
    border-radius: 50%;
    left: 92%;
    bottom: 15vh;
    background-color: var(--fc);
}

.component9 {
    position: absolute;
    padding: 7% 2%;
    width: 10%;
    border-radius: 50%;
    left: -10vh;
    bottom: -12vh;
    background-color: var(--fc);
}

.component10 {
    position: absolute;
    padding: 6% 1%;
    width: 10%;
    border-radius: 50%;
    left: 10vh;
    bottom: -19vh;
    background-color: var(--fc);
}

.component11 {
    position: absolute;
    padding: 5% 0%;
    width: 10%;
    border-radius: 50%;
    left: 10vh;
    bottom: 50vh;
    background-color: var(--fc);
}

/* ---- Scrolling ---- */

nav {
    position: fixed;
    display: flex;
    justify-content: right;
    background-color: rgba(68, 50, 40, 0.677);
    min-width: 10%;
    border-radius: 10px;
    top: 0;
    right: 0;
    padding: 0.5% 0.5% 0% 0.5%;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 8px;
    position: relative;
}

.nav-links ul li a {
    color: var(--c2);
    text-decoration: none;
    font-size: 110%;
}

.nav-links ul li::after {
    content: ' ';
    width: 0%;
    height: 2px;
    background: var(--c3);
    display: block;
    margin: auto;
    transition: 0.5s;
    border-radius: 20px;
}

.nav-links ul li:hover:after {
    width: 100%;
}

/* ---- Header ---- */

.header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 11vh;
    background-color: var(--c4);
    font-size: 200%;
    color: var(--c5);
    padding-top: 4vh;
}

/* ---- Profile ---- */

.profile {
    position: relative;
    min-height: 85vh;
    background-color: var(--r_bg_content);
    overflow: hidden;
}

.p_row {
    display: flex;
    min-height: 85vh;
}

.p_left {
    flex: 15%;
    background-color: var(--l_bg_content);
}

.p_left img {
    position: absolute;
    width: 20%;
    top: 21%;
    left: 8%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.p_left img:hover {
    transform: scale(110%, 110%);
}

.p_right {
    flex: 85%;
    background-color: var(--r_bg_content);
    color: var(--fc);
}

.infomation {
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.social {
    font-size: 150%;
    margin-top: 30px;
}

.social a {
    margin: 10px;
    color: rgb(51, 27, 12);
    text-decoration: none;
    transition: 0.3s linear;
    position: absolute;
}

.social a:hover {
    font-size: 160%;
    color: rgb(79, 46, 24);
}

#ig {
    bottom: -50%;
}

#fb {
    bottom: -50%;
    left: 15%;
}

#gh {
    bottom: -50%;
    left: 30%;
}


/* ---- Hobby ---- */

.hobby {
    position: relative;
    min-height: 185vh;
    background-color: var(--r_bg_content);
    overflow: hidden;
}

.h_row {
    display: flex;
    min-height: 185vh;
}

.h_left {
    flex: 15%;
    background-color: var(--l_bg_content);
}

.h_right {
    flex: 85%;
    background-color: var(--r_bg_content);
    color: var(--fc);
}

.sport {
    position: absolute;
    width: 30%;
    top: 14%;
    left: 2%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.music {
    position: absolute;
    width: 30%;
    top: 45%;
    left: 2%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.game {
    position: absolute;
    width: 30%;
    top: 75%;
    left: 2%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.h_left img:hover {
    transform: scale(110%, 110%);
}

.text_sport {
    position: absolute;
    top: 24%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.text_music {
    position: absolute;
    top: 55%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.text_game {
    position: absolute;
    top: 83%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

/* ---- Performance ---- */

.performance {
    position: relative;
    min-height: 145vh;
    background-color: var(--r_bg_content);
    overflow: hidden;
}

.pe_row {
    display: flex;
    min-height: 145vh;
}

.pe_left {
    flex: 15%;
    background-color: var(--l_bg_content);
}

.itcamp {
    position: absolute;
    width: 30%;
    top: 21%;
    left: 2%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.itcamp:hover {
    transform: scale(110%, 110%);
}

.prepro {
    position: absolute;
    width: 30%;
    top: 60%;
    left: 2%;
    border: 5px solid var(--c6);
    border-radius: 10px;
    transition: 0.3s linear;
    box-shadow: 1px 1px 1px 1px;
}

.prepro:hover {
    transform: scale(110%, 110%);
}

.pe_right {
    flex: 85%;
    background-color: var(--r_bg_content);
    color: var(--fc);
}

.text_itcamp {
    position: absolute;
    top: 32%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

.text_prepro {
    position: absolute;
    top: 73%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-size: 200%;
}

/* ---- Footer ---- */

footer {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 1% 1%;
    background-color: var(--c4);
    width: 98%;
    left: 0;
    color: var(--c5);
    font-size: 130%;
}

/* ---- More Function ---- */

.morefunction{
    position: relative;
    overflow: hidden;
}

#content {
    min-height: 85vh;
    background-color: var(--r_bg_content);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--fc);
}

.button {
    font-size: 300%;
    background-color: rgb(146, 137, 127);
    padding: 10px;
    border-radius: 10px;
    border: 10px solid var(--c4);
    transition: 0.2s linear;
}

.button:hover {
    background-color: rgb(126, 119, 110);
    transform: scale(110%, 110%) rotateZ(-5deg);
}

#content-text {
    font-size: 400%;
    transition: 0.2s linear;
    opacity: 0;
}

/* ---- Graph ---- */

.graph{
    position: relative;
    overflow: hidden;
}

.graph_content {
    min-height: 77.6vh;
    background-color: var(--r_bg_content);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: var(--fc);
}

.graph_content h1 {
    font-size: 300%;
    margin: 50px;
}

.col1 {
    position: absolute;
    left: 25%;
}

.col2 div {
    margin: 50px 50px 50px 0px;
    border-radius: 20px;
    background-color: rgb(146, 137, 127);
    border: 5px solid var(--c4);
}

.col2 {
    font-size: 300%;
    width: 10%;
    left: 40%;
}

.g_html {
    position: absolute;
    height: 47.1%;
    min-width: 1.5%;
    bottom: 15%;
    left: 57%;
}

.g_css {
    position: absolute;
    height: 48.5%;
    min-width: 1.5%;
    bottom: 15%;
    left: 62%;
}

.g_js {
    position: absolute;
    height: 4.4%;
    min-width: 1.5%;
    bottom: 15%;
    left: 67%;
}

.i_html {
    position: absolute;
    bottom: 18%;
    left: 56%;
}

.i_css {
    position: absolute;
    bottom: 18%;
    left: 61.7%;
}

.i_js {
    position: absolute;
    bottom: 18%;
    left: 67.3%;
}

/* ---- Cutter ---- */
.cutter {
    position: absolute;
    background-color: #1D1E22;
    width: 40%;
    height: 8px;
    border-radius: 20px;
    right: 20%;
}

#cutter1 {
    top: 40%;
}

#cutter2 {
    bottom: 30%;
}

#cutter3 {
    bottom: 48%;
}

#cutter4 {
    bottom: 0%;
    width: 90%;
    right: 10%;
}